/* ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ */
/*                         Arquivo de variáveis                       */
/* ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ */

// Tipografia
$font-family-body: "Open Sans", sans-serif;
$font-family-body-9: 9px;
$font-family-body-10: 10px;
$font-family-body-11: 11px;
$font-family-body-12: 12px;
$font-family-body-14: 14px;
$font-family-body-16: 16px;

$font-weight-400: 400;
$font-weight-600: 600;
$font-weight-700: 700;

$font-family-heading: "Open Sans", sans-serif;
$font-family-heading-13: 13px;
$font-family-heading-16: 16px;
$font-family-heading-18: 18px;
$font-family-heading-24: 24px;
$font-family-heading-32: 32px;
$font-family-heading-40: 40px;

// Cores
$white: #FFFFFF;
$dark: #222222;
$transparent: transparent;

$primary-color: #ff4b55;
$primary-color-lighter: #fa7b81;
$primary-color-darker: #ec414a;

$secondary-color: #e91e63;
$tertiary-color: #9c27b0;
$quaternary-color: #673ab7;
$quinary-color: #3751b5;

$gray_1: #F8F8F8;
$gray_2: #E8E8E8;
$gray_3: #E5E5E5;
$gray_4: #D4D4D4;
$gray_5: #606060;
$gray_6: #363636;

// Drop-Shadow
$drop-shadow: 0px 1px 20px rgba(0,0,0,0.1);
$box-shadow: rgba(0,0,0,0.2);
$box-shadow-2: 1px 2px 4px rgba(0,0,0,0.1);