/* ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ */
/*                           Estilos Básicos                          */
/* ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ */

body {
    box-sizing: border-box;
    font-family: $font-family-body;
    font-size: $font-family-body-12;
    color: $dark;
}
