/* ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ */
/*                           Estilos Básicos                          */
/* ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ */

body {
    box-sizing: border-box;
    font-family: $font-family-body;
    font-size: $font-family-body-12;
    color: $gray_6;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}
