/* ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ */
/*                           Estilos da Main                          */
/* ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ */

main {
    height: calc(100vh - 94px);
    background-color: $gray_2;
    padding: 20px;

    nav {
        background-color: $white;
        padding: 10px;
        border-radius: 5px;
        box-shadow: $box-shadow-2;
    }
}